

#logoInscription img{
    width: 40%;
    margin-top: 10px;
    margin-left: 50px;
}

#abonnez {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 13vh;
    background-color: #FFE81C;
    text-align: center;
    padding: 15px;
    font-weight:bold;
    margin-top: 5vh;
    margin-left: 50px;
    margin-right: 50px;
}

#inscriptionButton{
    width: 10%;
    background-color: black;
    padding: 10px;
}

#inscriptionButton a{
    color: white;
    text-decoration: none;
}

#partnerLogos {
    text-align: center;
    margin-top: 2vh;
}

#partnerLogos img{
    width: 6%;
    margin-right: 70px;
}

#address {
    background-color: black;
    color: white;
    padding: 25px;
    margin-top: 2vh;
    text-align: center;
}

#address a {
    color: white;
}

#menuAll {
    margin-left: 50px;
    margin-right: 50px;
}


#logo img {
    width: 40%;
    margin-top: 10px;
}

#menu {
    display: grid;
    grid-template-columns: repeat(6,15%);
    grid-template-rows: repeat(1,30px);
    gap: 30px;
    margin-top: 30px;
}

#menu a{
    text-align: center;
    text-decoration: none;
    border: 1.8px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: black;
}

#menu a:hover{
    text-decoration: underline;
}

#homepageView{
    display: grid;
    grid-template-columns: repeat(6,15%);
    grid-template-rows: repeat(1,150px);
    gap: 30px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#homepageView img{
    height: 100%;
    width: 100%;
}

#programme {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(5, 150px);
    margin-top: 4vh;
    margin-left: 13vw;
    gap: 20px;
}

#programme img{
    height: 100%;
    width: 100%;
}

#studio, #ecoles, #openHuis, #comeOnFeet, #masque {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: 500px;
    gap: 20px;
    margin-top: 4vh;
    margin-left: 50px;
}

#studio img, #ecoles img, #openHuis img, #comeOnFeet img , #masque img{
    height: 100%;
    width: 100%;
}

